common --enable_bzlmod
build --cxxopt=-std=c++23
build --linkopt=-fuse-ld=mold
build --action_env=CC=/usr/bin/clang
build --action_env=CXX=/usr/bin/clang++

# build --cxxopt=-Iexternal/boost+
build --cxxopt=-Wall
build --cxxopt=-Wextra
build --cxxopt=-Wpedantic
build --cxxopt=-fcolor-diagnostics
build --cxxopt=-fno-omit-frame-pointer

# Debug build
build:dbg --compilation_mode=dbg
build:dbg --cxxopt=-O0
build:dbg --cxxopt=-g
build:dbg --cxxopt=-pipe
build:dbg --linkopt=-Wl,-O1
build:dbg --linkopt=-Wl,--as-needed