# https://clangd.llvm.org/config.html

CompileFlags:
  CompilationDatabase: build/Debug
  BuiltinHeaders: QueryDriver

Index:
  Background: Build
  StandardLibrary: true

Style:
  QuotedHeaders: "src/.*"
  AngledHeaders: ["path/sdk/.*", "third-party/.*"]

Diagnostics:
  ClangTidy:
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
    Add: modernize*
    Remove: modernize-use-trailing-return-type
    FastCheckFilter: Strict

  UnusedIncludes: Strict
  Includes:
    AnalyzeAngledIncludes: false

Completion:
  AllScopes: Yes
  ArgumentLists: OpenDelimiter
  HeaderInsertion: IWYU
  CodePatterns: All

InlayHints:
  BlockEnd: false
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  DefaultArguments: false
  TypeNameLimit: 24

Hover:
  ShowAKA: false
  MacroContentsLimit: 2048

Documentation:
  CommentFormat: Doxygen