Checks: >
  -*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  cppcoreguidelines-*,
  "portability-*",
  -readability-identifier-length

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file