Checks: >
  -*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  cppcoreguidelines-*,
    -readability-identifier-length

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
