# https://clang.llvm.org/extra/clang-tidy

Checks: >
  -*,
  modernize-*,
  performance-*,
  -readability-*,
  bugprone-*,
  cppcoreguidelines-*,
  "portability-*",
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers

WarningsAsErrors: ''
FormatStyle: file
